ultralytics==8.3.13
opencv-python==4.10.0.84
pandas==2.2.3
scipy==1.14.1
seaborn==0.13.2
matplotlib==3.9.2
gdown==5.2.0
requests==2.32.3
py-cpuinfo==9.0.0
Pillow==10.2.0
PyYAML==6.0.2
tqdm==4.66.5
kiwisolver==1.4.7
